<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상담 예약</title>
</head>
<body>
<h1>Consultation Form</h1>
<form th:action="@{/beconsult}" th:object="${beconsultForm}" method="post">
    <div>
        <label for="username">이름: </label>
        <input type="text" id="username" th:field="*{username}" />
    </div>
    <div>
        <label for="gender">성별:</label>
        <select id="gender" th:field="*{gender}">
            <option value="Male">남성</option>
            <option value="FeMale">여성</option>
        </select>
    </div>
    <div>
        <label for="mail">이메일: </label>
        <input type="text" id="mail" th:field="*{mail}" />
    </div>
    <div>
        <label for="phonenumber">전화번호: </label>
        <input type="text" id="phonenumber" th:field="*{phonenumber}" />
    </div>
    <div>
        <label for="exercise">운동경험:</label>
        <select id="exercise" th:field="*{exercise}">
            <option value="first">운동 처음</option>
            <option value="six-month">6개월 이상</option>
            <option value="year">1년이상</option>
            <option value="threeyear">3년이상</option>
        </select>
    </div>
    <div>
        <label for="sangType">상담 종류:</label>
        <select id="sangType" th:field="*{sangType}">
            <option value="agree">회원권 상담</option>
            <option value="PT">PM 상담</option>
        </select>
    </div>
    <div>
        <label for="sangTime">희망 상담 시간:</label>
        <input type="datetime-local" id="sangTime" th:field="*{sangTime}" />
        <!-- 오류 메시지 표시 -->
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
    <div>
        <label for="note">특이사항:</label>
        <textarea id="note" th:field="*{note}"></textarea>
    </div>

    <div>
        <button type="submit">상담 신청하기</button>
    </div>
</form>
</body>
</html>