<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <title>상담 예약</title>
</head>
<body>
<h1>Consultation Form</h1>
<form th:action="@{/consultation}" th:object="${consultationForm}" method="post">
    <div>
        <label>회원번호:</label>
        <span th:text="${user.id}"></span>
    </div>
    <div>
        <label>이름:</label>
        <span th:text="${user.username}"></span>
    </div>
    <div>
        <label>전화번호:</label>
        <span th:text="${user.phnum}"></span>
    </div>
    <div>
        <label>이메일:</label>
        <span th:text="${user.email}"></span>
    </div>
    <div>
        <label for="sangdamType">상담 종류:</label>
        <select id="sangdamType" th:field="*{sangdamType}">
            <option value="Rejoin">재등록</option>
            <option value="PT">PM상담</option>
            <option value="InBody">인바디상담</option>
            <option value="Exercise">운동기구 설명</option>
        </select>
    </div>
    <div>
        <label for="sangdamTime">희망 상담 시간:</label>
        <input type="datetime-local" id="sangdamTime" th:field="*{sangdamTime}" />
        <!-- 오류 메시지 표시 -->
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
    <div>
        <label for="notes">특이사항:</label>
        <textarea id="notes" th:field="*{notes}"></textarea>
    </div>

    <div>
        <button type="submit">상담 신청하기</button>
    </div>
</form>
</body>
</html>